{%  extends "base.html" %}

{%  block app_content %}
        <h1>Hi, {{ current_user.username }}!</h1>


        <table class="table table-bordered table-condensed table-striped">
            <thead>
              <tr>
                  <th class="col-md-2">Name</th>
                  <th class="col-md-1">Balance</th>
                  <th class="col-md-4">Account Name</th>
              </tr>
            </thead>
            <tbody>
                {% for account in account_info %}
                    <tr>
                        <td>{{ account.name }} </td>
                        <td>{{ account.account_balance }} </td>
                        <td><a href="{{ url_for('main.transactions', account_id=account.account_id) }}">
                                {{ account.account_name }}</a></td>
                    </tr>
               {% endfor %}
            </table>

        {% if current_user.is_parent_user %}
            <p><a href="{{ url_for('auth.register_child') }}">Add a child </a></p>
        {% endif %}

        <p/>

{%  endblock %}
