{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Transactions: {{ account.owner.username }}</h1>

    <table>
        <tr width="100%">
            {% if current_user.is_parent_user %}
                <td width="100%">
                    <div class="row">
                        <div class="col-md-4">
                            {{ wtf.quick_form(form) }}
                        </div>
                    </div>
                </td>
            {% endif %}
        </tr>

        <tr>
            <td height="20px"/>
        </tr>

        <tr>
            <td width="100%">
                <table class="table table-hover">
                    {% for transaction in account.transactions %}
                        <tr>
                            <td>{{ moment(transaction.created_date).format('ddd L') }}</td>

                            <td align="right">
                                {% if transaction.type == 'D' %}
                                    <span style="color:red;">-{{ transaction.amount }}</span>
                                {% else %}
                                    {{  transaction.amount }}
                                {% endif %}

                            </td>
                            <td>{{ transaction.description }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
    <p/>

{% endblock %}